# Database Configuration (Docker local db)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=blog_app
POSTGRES_PORT=5432

# Redis Configuration
# For local Docker development: Use host and port below.
# For remote Upstash: Uncomment and set REDIS_URL to your Upstash Connection URL (starting with rediss://)
# REDIS_URL=rediss://default:your_upstash_password@your-endpoint.upstash.io:6379
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Backend Configuration
PORT=3000
DATABASE_URL=postgresql://postgres:your_postgres_password_here@db:5432/blog_app?schema=public
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_URL=https://novablog.space

# AWS configuration (for S3 uploads)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_BUCKET_NAME=your_aws_bucket_name_here

# Resend Email configuration
RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=Blog App <hello@novablog.space>
