<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
</head>

<body style="
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      padding: 40px;
    ">
    <div style="
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 40px;
        border-radius: 12px;
      ">
        <h1>
            Welcome to Blog App 🚀
        </h1>

        <p>
            Hello {{firstname}},
        </p>

        <p>
            Thank you for joining
            Blog App.
        </p>

        <p>
            Start exploring blogs and
            sharing your knowledge.
        </p>

        <br />

        <p>
            Regards,
            <br />
            Blog App Team
        </p>
    </div>
</body>

</html>